<!DOCTYPE html>
<html lang="en">
<head>
    <title>WhaleCrew</title>
    <link rel="shortcut icon" href="/static/logo.jpeg"/>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/user.css">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/885fc84cf9.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron text-center" style="margin-bottom:0">
    <h1>WhaleCrew</h1>
</div>

<style>
    .bg-navigation {
        background-color: #003399;
    }
</style>

<!-- //--------------------------- Navigation Bar -------------------------// -->

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
        <!-- Brand/logo -->
        <div class="col-md-1">
            <ul class="nav navbar-nav float-left">
                <a class="navbar-brand" href="{% url 'IndexPage' %}">
                    <img src="/static/logo.jpeg" alt="logo" width="80" height="50" class="d-inline-block">
                </a>
            </ul>
        </div>
        <!-- Links -->
        <div class="col-md-9">
            <ul class="nav navbar-nav float-left">
                <li class="nav-item ">
                    <a class="nav-link" href="{% url 'IndexPage' %}">Cryptocurrency rate</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'NewsList' %}">News</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'AddArticle' %}">Add News</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'PortfolioView' %}">Portfolio</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="{% url 'Contact' %}">Contact</a>
                </li>
            </ul>
        </div>
    <div class="col-md-2">
        <ul class="navbar-nav">
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'UserProfile' %}"><i class="far fa-user-circle"></i> Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'Logout' %}"><i class="fas fa-door-open"></i> Logout</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'Login' %}"><i class="fas fa-sign-in-alt"></i> Log In</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'Sing_up' %}"><i class="fas fa-user-plus"></i> Sing Up</a>
                </li>


            {% endif %}
        </ul>
    </div>
    </div>
</nav>


<!-- //--------------------------- page content -------------------------// -->
{% block content %}{% endblock content %}
<!-- //--------------------------- page content end ---------------------// -->


<!-- //--------------------------- Footer -------------------------// -->


<!-- Footer -->
<footer class="bg-dark text-center text-white">
    <!-- Grid container -->
    <div class="container p-4">
        <!-- Section: Social media -->
        <section class="mb-4">
            <!-- Facebook -->
            <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/KarolMaciejOdrobinski/"
               role="button"
            ><i class="fab fa-facebook-f"></i
            ></a>


            <!-- Instagram -->
            <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/karolmaciej/"
               role="button"
            ><i class="fab fa-instagram"></i
            ></a>

            <!-- Linkedin -->
            <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/in/karolodrobinski/"
               role="button"><i class="fab fa-linkedin-in"></i></a>

            <!-- Github -->
            <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/Scarcfir" role="button"
            ><i class="fab fa-github"></i
            ></a>
        </section>
        <!-- Section: Social media -->

        <!-- Section: Text -->
        <section class="mb-4">
            <p>
                <b>Do you want to stay up to date with cryptocurrencies?</b>
                Subscribe to our free newsletter to receive the latest news, updates and reports from the cryptocurrency
                market.
            </p>
            {% if object_list == True %}
                <h1>Successful subscribe</h1>
            {% elif object_list == False %}
                <h1>Unsuccessful subscribe</h1>
            {% endif %}
        </section>
        <!-- Section: Text -->

        <!-- Section: Form -->
        <section class="">
            <form method="post" action="/">

                {% csrf_token %}
                <!--Grid row-->
                <div class="row d-flex justify-content-center">
                    <!--Grid column-->
                    <div class="col-auto">
                        <p class="pt-2">
                            <strong>Sign up for our newsletter</strong>
                        </p>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-md-5 col-12">
                        <!-- Email input -->
                        <div class="form-outline form-white mb-4">
                            <input type="email" name="EMAIL" id="EMAIL" class="form-control"/>
                            <label class="form-label" for="form5Example2">Email address</label>
                        </div>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-auto">
                        <!-- Submit button -->
                        <button type="submit" class="btn btn-outline-light mb-4">
                            Subscribe
                        </button>
                    </div>
                    <!--Grid column-->
                </div>
                <!--Grid row-->
            </form>


        </section>
        <!-- Section: Form -->

        <br>
        <!-- Section: Links -->
        <section class="">
            <!--Grid row-->
            <div class="row justify-content-center">

                <!--Grid column-->

                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">WhaleCrew</h5>
                    <br>
                    <ul class="list-unstyled mb-0">
                        <li>
                            <p><a href="{% url 'About_Us' %}" class="text-white">About Us</a></p>
                        </li>
                        <li>
                            <p><a href="{% url 'Branding_Guide' %}" class="text-white">Branding Guide</a></p>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Regulations</h5>
                    <br>
                    <ul class="list-unstyled mb-0">
                        <li>
                            <p><a href="{% url 'Regulations' %}" class="text-white">Regulations</a></p>
                        </li>
                        <li>
                            <p><a href="{% url 'GetCandy' %}" class="text-white">GetCandy</a></p>
                        </li>

                    </ul>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Kontakt</h5>
                    <br>
                    <ul class="list-unstyled mb-0">
                        <li>
                            <p> Kontakt telefoniczny</p>
                        </li>
                        <li>
                            <p>pon. - pt.</p>
                        </li>
                        <li>
                            <p> od 8:00 do 16:00 </p>
                        </li>
                        <li>
                            <p> +48 884 302 451</p>
                        </li>
                        <li>
                            <p> mail: k.odrobinski@gmail.com </p>
                        </li>
                    </ul>
                </div>


                <!--Grid column-->
            </div>
            <!--Grid row-->
        </section>
        <!-- Section: Links -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        &copy; Copyrights Company.com All rights reserved.

    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>

<script src="/static/js/bootstrap.min.js"></script>

</body>
</html>
