<!DOCTYPE html>
<html lang="en">
<head>
    <title>WhaleCrew</title>
    <link rel="shortcut icon" href="../static/logo.jpeg"/>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="../static/css/bootstrap.min.css">

</head>
<body>

<div class="jumbotron text-center" style="margin-bottom:0">
    <h1>WhaleCrew</h1>
</div>

 <style>
  .bg-navigation {
    background-color: #003399;
  }
  </style>

<!-- //--------------------------- Navigation Bar -------------------------// -->

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- Brand/logo -->
    <a class="navbar-brand" href="#">
        <img src="../static/logo.jpeg" alt="logo" width="80" height="50" class="d-inline-block">
    </a>

    <!-- Links -->

    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="#">Kurs Kryptowalut</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">News</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Portfolio</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Wydarzenia</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Ranking Kryptowalut</a>
        </li>
    </ul>


    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="#">Kontakt</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="Login">Log In</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Sing Up</a>
        </li>

    </ul>

</nav>


<!-- //--------------------------- page content -------------------------// -->
{% block content %}{% endblock content %}
<!-- //--------------------------- page content end ---------------------// -->


<!-- //--------------------------- Footer -------------------------// -->

<div class="jumbotron text-center " style="margin-bottom:0">
    <h1>Footer</h1>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>

<script src="../static/js/bootstrap.min.js"></script>

</body>
</html>
