{% extends 'base.html' %}
{% block content %}

    <br><br>
    <div class="text-center"><h1> Branding Guide </h1><br><br>

        Thank you for choosing to integrate WhaleCrew with your app.<br> We are extremely delighted!
        <br>
        <br>Below are some branding guidelines that you can use as reference. <br> We are continuously updating this
        documentation
        and would like to work closely with the community.
        <br><br>
        Feel free to contact us at k.odrobinski@gmail.com for questions and comments.<br><br>
        <h1> Logo: </h1><br><br>

        <img src="/static/logo.jpeg" alt="logo" width="320" height="240" class="d-inline-block"><br><br><br>

        <h1>Questions or Feedback?</h1>
        We are continuously improving this documentation.<br> Feel free to contact us at k.odrobinski@gmail.com for
        questions and comments.<br><br><br>
    </div>
{% endblock %}
