{% extends 'base.html' %}
{% block content %}
    <link rel="stylesheet" href="../static/css/user.css">

    <div class="wrapper fadeInDown">
        <div id="formContent">
            <h1>Remind Password</h1>
            <br>
            Enter your email below and we'll send you a link to reset your password.
            <br>
            <br>

            <form method="post">
                {% csrf_token %}
                <input type="text" id="email" class="fadeIn second" name="email" placeholder="email">
                <input type="submit" class="fadeIn fourth" value="REMIND">

            </form>

        </div>
    </div>


{% endblock %}
