{% extends 'base.html' %}
{% block content %}

    <style>
        .table {
            margin: auto;
            width: 70% !important;
        }
    </style>
    <br><br>
    <div class="text-center"><h1> List of the 10 most popular currencies </h1></div>

    <br>
    <table class="table table-bordered text-center">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Coin</th>
            <th scope="col">Ticker</th>
            <th scope="col">Price</th>
            <th scope="col">Market Cap</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Bitcoin</td>
            <td>BTC</td>
            <td>150000$</td>
            <td> 1 mld</td>
        </tr>
        </tbody>
    </table>
    <br>
    <br>
{% endblock %}
