{% extends 'base.html' %}
{% block content %}

    <style>
        .table {
            margin: auto;
            width: 70% !important;
        }
    </style>
    <br><br>
    <div class="text-center"><h1> List of the most popular crypto currencies </h1></div>

    <br>
    <table class="table table-bordered text-center">
        <thead>
        <tr>
            <th scope="col">#</th>

            {% if user.is_authenticated %}
                <th scope="col">Favourite</th>
            {% endif %}

            <th scope="col">Coin</th>
            <th scope="col">Ticker</th>
            <th scope="col">Price</th>
            <th scope="col">Market Cap</th>
            <th scope="col">24h Volumen</th>
        </tr>
        </thead>
        <tbody>

        {% for obj in paginator %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>

                {% if user.is_authenticated %}

                    <td>
                        <a href="{{ obj.id }}" style="color: #f5c842; text-decoration: none;">
                            {% if not obj.id in favourite_coins %}
                                <i class="far fa-heart"></i>
                            {% else %}
                               <i class="fas fa-heart"></i>
                            {% endif %}
                        </a>
                    </td>

                {% endif %}

                <td>{{ obj.name }}</td>
                <td>{{ obj.symbol }}</td>
                <td>{{ obj.price }} $</td>
                <td>{{ obj.usd_market_cap }} mld $</td>
                <td>{{ obj.usd_24h_vol }} mld $</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
    <br>

    {% if paginator.has_other_pages %}

        <ul class="pagination d-flex justify-content-center">

            {% if paginator.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ paginator.previous_page_number }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
            {% endif %}

            {% for i in paginator.paginator.page_range %}
                {% if paginator.number == i %}
                    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}

            {% if paginator.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ paginator.next_page_number }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            {% endif %}
        </ul>

    {% endif %}
    <br>
{% endblock %}
