{% extends 'base.html' %}
{% block content %}
    <link rel="stylesheet" href="../static/css/user.css">

    <div class="wrapper fadeInDown">
        <div id="formContent">
            <h1>Log In</h1>
            <br>
            New to WhaleCrew? <a class="underlineHover" href="Create_Acc">Create Account</a>
            <br>
            <form method="post">
                {% csrf_token %}
                <input type="text" id="login" class="fadeIn second" name="login" placeholder="login">
                <input type="text" id="password" class="fadeIn third" name="login" placeholder="password">
                <input type="submit" class="fadeIn fourth" value="Log In">
            </form>

            <!-- Remind Passowrd -->
            <div id="formFooter">
                <a class="underlineHover" href="Forgot_Pass">Forgot Password?</a>
            </div>

        </div>
    </div>


{% endblock %}
