{% extends 'base.html' %}
{% block content %}
    <link rel="stylesheet" href="../static/css/user.css">

    <div class="wrapper fadeInDown">
        <div id="formContent">
            <h1>Log In</h1>
            <br>
            New to WhaleCrew? <a class="underlineHover" href="{% url 'Sing_up' %}">Create Account</a>
            <br>
            <form method="post">
                {% csrf_token %}
                    {% if tekst == 1 %}
                       !!! Invalid Username or Password !!!
                    {% endif %}

                    {{ form.username }}
                    {{ form.password }}
                <input type="submit" class="fadeIn fourth" value="Log In">
            </form>

            <!-- Remind Passowrd -->
            <div id="formFooter">
                <a class="underlineHover" href="{% url 'Forgot_Pass' %}">Forgot Password?</a>
            </div>

        </div>
    </div>


{% endblock %}
