{% extends 'base.html' %}
{% block content %}
    <br><br>
        <div class="container">
            <div class="row">
                <div class="col-md-12 blogShort text-center">
                    <h1>{{ obj.title }}</h1>
                    <br>
                    <img src="/static/images/article/{{ obj.picture_file }}" alt="post img"
                         class="pull-left img-responsive postImg img-thumbnail margin10">
                    <br><br>
                    <div class="col-md-12 text-center">
                        <article><p>
                            {{ obj.description }}
                        </p>
                        </article>
                    </div>

                    <br><br>
                </div>
            </div>
        </div>
{% endblock %}
