{% extends 'base.html' %}
{% block content %}
    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">

                <!-- //--------------------------- ONE NEWS -------------------------// -->

                {% for obj in object_list %}
                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow">
                            <img class="card-img-top"
                                 data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
                                 alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;"
                                 src="/static/images/article/{{ obj.picture_file }}"
                                 data-holder-rendered="true">
                            <div class="card-body">
                                <p class="card-text">{{ obj.short_desc }}</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a href="{{ obj.get_detail_url }}">
                                            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                        </a>
                                    </div>
                                    <small class="text-muted">{{ obj.created}}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <!-- //--------------------------- NEWS -------------------------// -->

                {% if news.has_other_pages %}
                    <ul class="pagination">
                        {% if news.has_previous %}
                            <li><a href="?page={{ news.previous_page_number }}">&laquo; poprzednia</a>|&nbsp;</li>
                        {% endif %}
                        {% for i in news.paginator.page_range %}
                            {% if news.number == i %}
                                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span>|&nbsp;
                                </li>
                            {% else %}
                                <li><a href="?page={{ i }}">{{ i }}</a> |&nbsp;</li>
                            {% endif %}
                        {% endfor %}
                        {% if news.has_next %}
                            <li><a href="?page={{ news.next_page_number }}">następna &raquo;</a></li>
                        {% endif %}
                    </ul>
                {% endif %}


            </div>
        </div>
    </div>
{% endblock %}
