{% extends 'base.html' %}
{% block content %}
    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">

                <!-- //--------------------------- ONE NEWS -------------------------// -->

                {% for obj in news %}
                    <div class="col-md-4 ">
                        <div class="card mb-4 box-shadow">
                            <img class="card-img-top"
                                 data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
                                 alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;"
                                 src="/{{ obj.picture_file }}"
                                 data-holder-rendered="true">
                            <div class="card-body">
                                <p class="card-text">{{ obj.short_desc }}</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a href="{{ obj.get_detail_url }}">
                                            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                        </a>
                                    </div>
                                    <small class="text-muted">{{ obj.created }}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <!-- //--------------------------- PAGINATOR -------------------------// -->
            </div>

            {% if news.has_other_pages %}

                <ul class="pagination d-flex justify-content-center">

                    {% if news.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ news.previous_page_number }}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                    {% endif %}

                    {% for i in news.paginator.page_range %}
                        {% if news.number == i %}
                            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                        {% else %}
                            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                        {% endif %}
                    {% endfor %}

                    {% if news.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ news.next_page_number }}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>

            {% endif %}


        </div>
    </div>


{% endblock %}
