{% extends 'base.html' %}
{% block content %}

    <br><br>
    <div class="text-center"><h1> Regulations </h1></div>

    <h1>PRIVACY NOTICE</h1>

    <h3>Last updated April 05, 2021</h3>


    <br>
    Thank you for choosing to be part of our community at WhaleCrew ("Company", "we", "us", "our").<br> We are committed
    to
    protecting your personal information and your right to privacy.<br> If you have any questions or concerns about this
    privacy notice, or our practices with regards to your personal information, <br>please contact us at
    k.odrobinski@gmail.com.
    <br>
    When you visit our website http://www.WhaleCrew.com (the "Website"),<br> and more generally, use any of our services
    (the "Services", which include the Website), we appreciate that you are <br>trusting us with your personal
    information.
    We take your privacy very seriously. In this privacy notice, we seek to<br> explain to you in the clearest way
    possible
    what information we collect, how we use it and what rights you have in<br> relation to it. We hope you take some
    time to
    read through it carefully, as it is important. If there are any terms <br>in this privacy notice that you do not
    agree
    with, please discontinue use of our Services immediately.<br>
    <br>
    This privacy notice applies to all information collected through our<br> Services (which, as described above, includes
    our Website),<br> as well as, any related services, sales, marketing or events.
    <br>
    Please read this privacy notice carefully <br>as it will help you understand what we do with the information that we
    collect.
    <br>
    <br>

{% endblock %}
