{% extends 'base.html' %}
{% block content %}
    <link rel="stylesheet" href="../static/css/user.css">
<style>

input[type=password] {

background-color: #f6f6f6;

border: none;

color: #0d0d0d;

padding: 15px 32px;

text-align: center;

text-decoration: none;

display: inline-block;

font-size: 16px;

margin: 5px;

width: 85%;

border: 2px solid #f6f6f6;

-webkit-transition: all 0.5s ease-in-out;

-moz-transition: all 0.5s ease-in-out;

-ms-transition: all 0.5s ease-in-out;

-o-transition: all 0.5s ease-in-out;

transition: all 0.5s ease-in-out;

-webkit-border-radius: 5px 5px 5px 5px;

border-radius: 5px 5px 5px 5px;

}

input[type=password]:focus {

background-color: #fff;

border-bottom: 2px solid #5fbae9;

}

input[type=password]:placeholder {

color: #cccccc;

}

</style>


    <div class="wrapper fadeInDown">
        <div id="formContent">
            <h1>Create an Account</h1>
            <br>
            Already have an account? <a class="underlineHover" href="{% url 'Login' %}">Login</a>
            <br>
            <form method="post">
                {% csrf_token %}
                {% if error_user == 0 %}
                    <br>  <p style="color:red">!!! Username already exist !!!</p><br>
                {% endif %}
                {{ form.username }}
                {% if error_mail == 0 %}
                    <br><p style="color:red">!!! Email already exist !!!</p><br>
                {% endif %}
                {% if mail_error == 1 %}
                    <br><p style="color:red">!!! Wrong e-mail !!!</p><br>
                {% endif %}
                {{ form.email }}
                {{ form.password1 }}
                {{ form.password2 }}
                <input type="submit" class="fadeIn fourth" value="Log In">
            </form>

            <!-- Remind Passowrd -->
            <div id="formFooter">
                <a class="underlineHover" href="{% url 'Forgot_Pass' %}">Forgot Password?</a>
            </div>

        </div>
    </div>


{% endblock %}
