{% extends 'base.html' %}
{% block content %}


    <style>
        .emp-profile {
            padding: 3%;
            margin-top: 3%;
            margin-bottom: 3%;
            border-radius: 0.5rem;
            background: #fff;
        }

        .profile-img {
            text-align: center;
        }

        .profile-img img {
            width: 70%;
            height: 100%;
        }

        .profile-img .file {
            position: relative;
            overflow: hidden;
            margin-top: -20%;
            width: 70%;
            border: none;
            border-radius: 0;
            font-size: 15px;
            background: #212529b8;
        }

        .profile-img .file input {
            position: absolute;
            opacity: 0;
            right: 0;
            top: 0;
        }

        .profile-head h5 {
            color: #333;
        }

        .profile-head h6 {
            color: #0062cc;
        }


        .proile-rating span {
            color: #495057;
            font-size: 15px;
            font-weight: 600;
        }

        .profile-head .nav-tabs {
            margin-bottom: 5%;
        }

        .profile-head .nav-tabs .nav-link {
            font-weight: 600;
            border: none;
        }

        .profile-head .nav-tabs .nav-link.active {
            border: none;
            border-bottom: 2px solid #0062cc;
        }


        .profile-work p {
            font-size: 12px;
            color: #818182;
            font-weight: 600;
            margin-top: 10%;
        }

        .profile-work a {
            text-decoration: none;
            color: #495057;
            font-weight: 600;
            font-size: 14px;
        }

        .profile-work ul {
            list-style: none;
        }

        .profile-tab label {
            font-weight: 600;
        }

        .profile-tab p {
            font-weight: 600;
            color: #0062cc;
        }

    </style>

    <div class="container emp-profile border mt-3 mb-3" id="profile">
        <form method="POST" name="myForm" onsubmit="return(validate());">
            <div class="row">
                <div class="col-md-4">
                    <div class="profile-img">
                        <img src="/static/images/users_profile_photo/no-image.png"
                             alt=""/>
                        <div class="file btn btn-lg btn-primary">
                            Change Photo
                            <input type="file" name="file"/>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="profile-head">
                        <h5>
                            {{ profile.name_surrname }}
                        </h5>
                        <h6>
                            {{ profile.short_info }}
                        </h6>

                        <ul class="nav nav-tabs mt-5" id="myTab" role="tablist">

                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#profile" role="tab"
                                   aria-controls="home" aria-selected="true">About</a>
                            </li>
                            <!--
                                                        <li class="nav-item">
                                                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                                                               aria-controls="profile" aria-selected="false">Timeline</a>
                                                        </li>
                            -->
                        </ul>
                    </div>
                </div>

                <div class="col-md-2">
                    <input type="button" class="profile-edit-btn" name="btnAddMore" data-bs-toggle="modal"
                           data-bs-target="#user_data" value="Edit Profile"/>
                </div>

                <!-- Modal -->
                <div class="modal fade text-center" id="user_data" tabindex="-1" aria-labelledby="exampleModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Edit your profile</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>

                            <div class="modal-body">

                                <form method="post">
                                    {% csrf_token %}

                                    <div class="mb-3">
                                        <label for="name" class="col-form-label ">Full Name: </label>
                                        <input name="surrname" type="text" class="form-control" id="name"
                                               value="Jan Kowalski">
                                    </div>

                                    <div class="mb-3">
                                        <label for="phone" class="col-form-label">Phone number: format [+XX-XXX-XXX-XXX]</label>
                                        <input name="phonenumber" type="text" class="form-control" id="phone"
                                               value="+48-884-302-100"
                                               pattern="[+][0-9]{2}-[0-9]{3}-[0-9]{3}-[0-9]{3}">
                                    </div>

                                    <div class="mb-3">
                                        <label for="short_info" class="col-form-label">Short information: </label>
                                        <input name="info" type="text" class="form-control" id="short_info"
                                               value="I'am the BOSS">
                                    </div>

                                    <div class="mb-3">
                                        <label for="bio" class="col-form-label ">Bio: </label><br>
                                        <input name="bio_info" type="text" class="form-control" id="bio"
                                               value="I have been an investor for 3 years">
                                    </div>


                                    <input type="submit" id="submit-form" class="btnContact text-center" value="Save"/>
                                </form>

                            </div>

                            <div class="modal-footer">

                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close
                                </button>

                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <div class="row">
                <div class="col-md-4">

                </div>
                <div class="col-md-8">
                    <div class="tab-content profile-tab" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>User Id</label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{ profile.user.id }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Name</label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{ profile.name_surrname }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Email</label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{ profile.user.email }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Phone</label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{ profile.phone_number }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Your Bio</label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{ profile.bio }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <script>

        function validate() {
            if (document.myForm.name.value == "") {
                alert("Please provide your name!");
                document.myForm.name.focus();
                return false;
            }

            if (document.myForm.phonenumber.value == "") {
                alert("Please provide your phone number!");
                document.myForm.phonenumber.focus();
                return false;
            }

            if (document.myForm.short_info.value == "") {
                alert("Please provide your short description!");
                document.myForm.short_info.focus();
                return false;
            }

            if (document.myForm.bio.value == "") {
                alert("Please provide your Bio!");
                document.myForm.bio.focus();
                return false;
            }

            return true;
        }

    </script>


{% endblock %}
